# Cost of Living Data Processing

### context

We have a raw csv downloaded from kaggle at this link -> https://www.kaggle.com/datasets/mvieira101/global-cost-of-living

Need to understand what's inside the data and engineer 1 or 2 features to use as a proxy for cost of living of our end users if they were to move to that city

### Basic exploration

In [27]:
import pandas as pd

path = "../raw_data/Alternative_sources_country_level/cost-of-living_raw.csv"
df = pd.read_csv(path)
df.head()

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
0,Seoul,South Korea,7.68,53.78,6.15,3.07,4.99,3.93,1.48,0.79,...,110.36,742.54,557.52,2669.12,1731.08,22067.70,10971.90,2689.62,3.47,1
1,Shanghai,China,5.69,39.86,5.69,1.14,4.27,3.98,0.53,0.33,...,123.51,1091.93,569.88,2952.70,1561.59,17746.11,9416.35,1419.87,5.03,1
2,Guangzhou,China,4.13,28.47,4.98,0.85,1.71,3.54,0.44,0.33,...,43.89,533.28,317.45,1242.24,688.05,12892.82,5427.45,1211.68,5.19,1
3,Mumbai,India,3.68,18.42,3.68,2.46,4.30,2.48,0.48,0.19,...,41.17,522.40,294.05,1411.12,699.80,6092.45,2777.51,640.81,7.96,1
4,Delhi,India,4.91,22.11,4.30,1.84,3.68,1.77,0.49,0.19,...,36.50,229.84,135.31,601.02,329.15,2506.73,1036.74,586.46,8.06,1

In [28]:
print(df.shape)
#we have around 5000 cities and 58 costs for various goods for each city

df["country"].unique().shape

(4956, 58)

(215,)

In [29]:
#numbeo added a feature to specify cities which they think more data might be needed. Let's check what happens if we filter by that
#how many cities have "low data quality"?
df_high_quality_only = df[df['data_quality'] == 1]
df_high_quality_only.shape
#we have 4033 cities with "more data needed", and only 923 that are considered to have "high data quality"

(923, 58)

In [30]:
df_high_quality_only["country"].unique().shape
#there's only 146 countries if we filter out the "low quality" data (according to numbeo)

(146,)

In [31]:
df.rename(columns={'x54': 'average_income'}, inplace=True)

### Narrowing down the data?

*We have lots of features but we only care to get a few simple indicators to estimate the cost of living of an expat / nomad in that country... so I'll only select a couple of features and use them from now on*

In [32]:
#for now we'll use all cities, even the ones with more data needed

#you can uncomment this line to only use the high quality data
#df = df[df['data_quality'] == 1].copy()

# STRATEGY TO HANDLE THIS DATASET PROPERLY:
1. select only the columnns we want to keep
2. handle missing values
3. compute a single feature that estimates cost of living for the app user

ALTHOUGH WE'LL FIRST DO SOME ROUGH FAST CALCULATIONS TO JUST HAVE SOMETHING

### Rough calculations (data quality not guaranteed)

In [33]:
# Define lifestyle assumptions:
# - person is a single expat that decided to move to the city, for a long-term stay
# - Housing: living in a 1 bed apartment in the city centre, pays average utilities
# - Eating out: 10 meals out per month at inexpensive restaurants
# - Groceries: see below



# Housing: Using the cost of a 1-bedroom apartment in the city centre (x48)
df['housing'] = df['x48'] + df['x36']

# Food: Meals out cost (10 meals per month)
df['food_eating_out'] = 10 * df['x1']

# Food: Groceries cost
df["food_groceries"] = (
    6   * df['x9']   +  # Milk
    4   * df['x10']  +  # Bread
    2   * df['x11']  +  # Rice
    2   * df['x12']  +  # Eggs
    1   * df['x13']  +  # Cheese
    2   * df['x14']  +  # Chicken
    1   * df['x15']  +  # Beef
    1.5 * df['x16']  +  # Apples
    1.5 * df['x17']  +  # Banana
    1.5 * df['x18']  +  # Oranges
    1.5 * df['x19']  +  # Tomato
    2   * df['x20']  +  # Potato
    1   * df['x21']  +  # Onion
    2   * df['x22']  +  # Lettuce
    20  * df['x23']  +  # Water
    1   * df['x24']  +  # Wine (optional)
    2   * df['x25']     # Beer (optional)
)

# Transportation: Monthly transport pass (x29), taxi start (x30), taxi 10km (10 times x31)
df['transportation'] = (df['x29'] + 
                        df['x30'] + 
                        10  * df['x31'])

# Other things like Internet: internet (x38), fitness club(x39) , Cinema ticket (x41), 
df['other'] =  df['x38'] + df['x39'] + df['x41']

# Now, compute the overall estimated monthly cost of living
df['monthly_cost'] = (df['housing'] + df['food_eating_out'] +
                      df['food_groceries'] + df['transportation'] +
                      df['other'])

# Optional: view the resulting columns for each city
result = df[['city', 'country', 'monthly_cost',"average_income"]]
result.head(30)

            city         country  monthly_cost  average_income
0          Seoul     South Korea      1348.705         2689.62
1       Shanghai           China      1458.460         1419.87
2      Guangzhou           China       816.065         1211.68
3         Mumbai           India       710.385          640.81
4          Delhi           India       442.290          586.46
5          Dhaka      Bangladesh       325.570          280.73
6          Osaka           Japan      1256.415         2322.46
7        Jakarta       Indonesia       790.870          509.12
8       Shenzhen           China      1076.030         1572.22
9       Kinshasa           Congo      3337.605          400.00
10       Bangkok        Thailand       943.105          629.84
11       Karachi        Pakistan       301.440          166.86
12         Cairo           Egypt       373.655          200.40
13     Sao Paulo          Brazil       910.625          445.67
14   Mexico City          Mexico      1091.175          718.92
15         Lagos         Nigeria      1733.305          214.64
16       Kolkata           India       292.120          532.21
17       Beijing           China      1537.440         1562.35
18        Moscow          Russia      1629.920         1452.41
19         Tokyo           Japan      1778.085         2868.80
20        Manila     Philippines       871.705          429.13
21      New York   United States      4868.565         5944.31
22      Istanbul          Turkey       819.460          383.04
23  Buenos Aires       Argentina       555.260          403.51
24     Bangalore           India       417.220          969.96
25        Lahore        Pakistan       315.410          164.01
26       Chennai           India       336.190          552.68
27       Chengdu           China       690.445          802.58
28        London  United Kingdom      3337.385         4033.84
29         Wuhan           China       635.410          963.86

In [34]:
#let's also take a look at the single categories to check if they make sense
df[['city', 'country', 'housing', 'food_eating_out', 'food_groceries', 'transportation', 'other']].head(30)

,city,country,housing,food_eating_out,food_groceries,transportation,other
0,Seoul,South Korea,924.67,76.8,204.905,54.37,87.96
1,Shanghai,China,1157.93,56.9,119.620,34.91,89.10
2,Guangzhou,China,592.93,41.3,88.585,33.88,59.37
3,Mumbai,India,565.97,36.8,60.295,8.32,39.00
4,Delhi,India,287.91,49.1,56.740,14.48,34.06
5,Dhaka,Bangladesh,179.15,19.5,59.490,23.41,44.02
6,Osaka,Japan,803.73,74.5,143.435,123.56,111.19
7,Jakarta,Indonesia,589.47,25.9,95.120,14.68,65.70
8,Shenzhen,China,806.38,42.7,109.260,40.71,76.98
9,Kinshasa,Congo,2553.99,151.1,178.715,46.30,407.50
10,Bangkok,Thailand,674.13,27.4,110.905,50.25,80.42
11,Karachi,Pakistan,180.06,22.4,43.820,13.45,41.71
12,Cairo,Egypt,223.36,40.7,50.265,15.04,44.29
13,Sao Paulo,Brazil,636.97,76.6,87.115,54.73,55.21
14,Mexico City,Mexico,815.38,77.4,100.015,21.92,76.46
15,Lagos,Nigeria,1434.87,37.1,103.055,57.56,100.72
16,Kolkata,India,180.46,20.0,54.380,7.64,29.64
17,Beijing,China,1254.77,42.7,104.120,49.00,86.85
18,Moscow,Russia,1287.32,128.0,102.030,43.36,69.21
19,Tokyo,Japan,1311.69,74.5,162.545,109.25,120.10
20,Manila,Philippines,640.52,35.9,86.175,15.16,93.95
21,New York,United States,4032.12,250.0,241.875,151.98,192.59
22,Istanbul,Turkey,623.70,53.7,66.380,36.65,39.03
23,Buenos Aires,Argentina,360.03,61.2,67.330,16.20,50.50
24,Bangalore,India,265.52,30.7,61.660,23.35,35.99
25,Lahore,Pakistan,204.95,15.6,40.890,9.58,44.39
26,Chennai,India,214.65,21.8,54.020,16.01,29.71
27,Chengdu,China,475.42,28.5,99.415,30.69,56.42
28,London,United Kingdom,2716.43,184.5,123.375,210.32,102.76
29,Wuhan,China,390.65,35.6,98.310,46.93,63.92

In [35]:
country_level_cost_expense = result.groupby('country').agg(
    average_monthly_cost=('monthly_cost', 'mean'),
    average_income=('average_income', 'mean')
).reset_index()

In [36]:
country_level_cost_expense = country_level_cost_expense.dropna() # Remove null values

In [37]:
print(country_level_cost_expense.shape)
country_level_cost_expense.head(30)

(172, 3)

                   country  average_monthly_cost  average_income
0              Afghanistan            960.545000      191.463333
1                  Albania            518.916429      368.735000
2                  Algeria            356.045500      262.671034
4                  Andorra           1257.460000     2842.183333
5                   Angola            740.635000     1428.770000
8                Argentina            503.731250      443.372941
9                  Armenia           1347.520000      376.080000
10                   Aruba           1513.055000     1509.460000
11               Australia           1870.925000     3521.600833
12                 Austria           1517.237500     2255.341538
13              Azerbaijan            410.863333      269.773750
14                 Bahamas           2080.870000     1817.330000
15                 Bahrain           1504.445000     3434.300000
16              Bangladesh            265.086250      207.382000
17                Barbados           1182.330000     1333.330000
18                 Belarus            545.132500      445.655714
19                 Belgium           1420.446429     2372.981200
20                  Belize            736.442500      822.923333
22                 Bermuda           4596.655000     5973.810000
23                  Bhutan            406.305000      442.040000
24                 Bolivia            600.571250      376.402500
25  Bosnia And Herzegovina            525.189444      557.087692
26                Botswana            633.945000      726.903333
27                  Brazil            567.830196      374.818448
29                  Brunei           1057.450000     1630.860000
30                Bulgaria            577.452813      657.903214
33                Cambodia            773.612500      273.088000
34                Cameroon            483.095000      229.777500
35                  Canada           1757.851187     2965.999375
36              Cape Verde            507.680000      317.300000

### This looks reasonable for the MVP

In [42]:
#specify that prices are in USD
df.rename(columns={'average_monthly_cost': 'average_monthly_cost ($)'}, inplace=True)
df.rename(columns={'average_income': 'average_income ($)'}, inplace=True)

#let's export this to a csv
country_level_cost_expense.to_csv("../raw_data/Alternative_sources_country_level/cost_expense.csv", index=False)