We need to create a simple pipeline to use for standardization of the dataset (that will be used later for standardisation of user inputs)

In [3]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

In [4]:
df = pd.read_csv("../raw_data/merged_country_level/merged_dataset_with_knn.csv").set_index("Unnamed: 0")
df.index.name = "country"

print(df.shape)
df.head(20)

(157, 5)

,average_monthly_cost_$,average_yearly_temperature,internet_speed_mbps,safety_index,Healthcare Index
country,,,,,
afghanistan,960.545000,18.1,3.88,24.9,24.24
albania,518.916429,22.2,81.41,55.3,48.21
algeria,356.045500,22.8,16.54,47.4,54.43
angola,740.635000,27.1,22.91,33.7,36.58
argentina,503.731250,15.1,93.38,36.6,68.00
armenia,1347.520000,18.4,60.72,77.9,58.07
australia,1870.925000,12.4,80.49,52.7,73.35
austria,1517.237500,14.6,100.45,70.5,77.83
azerbaijan,410.863333,19.0,69.32,68.2,48.31
bahamas,2080.870000,25.3,69.93,43.1,39.52
bahrain,1504.445000,29.7,88.85,75.5,66.60
bangladesh,265.086250,29.9,53.12,38.4,42.20
barbados,1182.330000,27.6,97.36,55.1,71.88
belarus,545.132500,12.1,77.78,50.2,48.50
belgium,1420.446429,13.0,116.69,50.6,75.76
belize,736.442500,23.0,47.75,47.3,47.37
bolivia,600.571250,18.0,47.50,35.0,45.98
bosnia & herzegovina,525.189444,15.9,33.59,58.3,55.62
botswana,633.945000,27.3,15.60,47.3,61.12
brazil,567.830196,25.8,188.06,35.5,59.21

In [3]:
df.describe()

,average_monthly_cost_$,average_yearly_temperature,internet_speed_mbps,safety_index,Healthcare Index
count,157.000000,157.000000,157.000000,157.000000,157.000000
mean,1058.652989,21.042251,100.971380,54.108705,59.137834
std,811.244804,6.818878,79.347168,15.276380,13.453259
min,227.355000,1.200000,3.230000,19.300000,23.860000
25%,582.270000,15.000000,38.450000,43.533333,49.830000
50%,806.300000,22.300000,83.130000,53.100000,60.660000
75%,1276.304091,26.900000,148.370000,66.900000,68.820000
max,6790.835000,32.100000,345.330000,84.700000,86.500000

In [4]:
#pipe with column transformer and minmaxscaler
from sklearn.compose import ColumnTransformer

# Define the column transformer with MinMaxScaler for all columns
column_transformer = ColumnTransformer(
    transformers=[
        ("minmax", MinMaxScaler(), df.columns)
    ]
)

# Create a new pipeline with the column transformer
pipeline = Pipeline(steps=[
    ("column_transformer", column_transformer)
])

# Fit the pipeline to the data
df_scaled = pipeline.fit_transform(df)

df_scaled = pd.DataFrame(df_scaled, columns=df.columns, index=df.index)

df_scaled.head(20)

,average_monthly_cost_$,average_yearly_temperature,internet_speed_mbps,safety_index,Healthcare Index
country,,,,,
afghanistan,0.111708,0.546926,0.001900,0.085627,0.006066
albania,0.044422,0.679612,0.228530,0.550459,0.388729
algeria,0.019607,0.699029,0.038907,0.429664,0.488027
angola,0.078202,0.838188,0.057527,0.220183,0.203065
argentina,0.042108,0.449838,0.263519,0.264526,0.704662
armenia,0.170666,0.556634,0.168050,0.896024,0.546137
australia,0.250411,0.362460,0.225840,0.510703,0.790070
austria,0.196524,0.433657,0.284186,0.782875,0.861590
azerbaijan,0.027959,0.576052,0.193189,0.747706,0.390326
bahamas,0.282398,0.779935,0.194972,0.363914,0.250000
bahrain,0.194575,0.922330,0.250278,0.859327,0.682312
bangladesh,0.005749,0.928803,0.145835,0.292049,0.292784
barbados,0.145498,0.854369,0.275153,0.547401,0.766603
belarus,0.048416,0.352751,0.217919,0.472477,0.393359
belgium,0.181777,0.381877,0.331657,0.478593,0.828544
belize,0.077564,0.705502,0.130137,0.428135,0.375319
bolivia,0.056863,0.543689,0.129407,0.240061,0.353129
bosnia & herzegovina,0.045378,0.475728,0.088746,0.596330,0.507024
botswana,0.061947,0.844660,0.036159,0.428135,0.594828
brazil,0.051874,0.796117,0.540281,0.247706,0.564336

In [5]:
df_scaled.describe()

,average_monthly_cost_$,average_yearly_temperature,internet_speed_mbps,safety_index,Healthcare Index
count,157.000000,157.000000,157.000000,157.000000,157.000000
mean,0.126655,0.642144,0.285710,0.532243,0.563184
std,0.123600,0.220676,0.231941,0.233584,0.214771
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.054074,0.446602,0.102952,0.370540,0.414591
50%,0.088207,0.682848,0.233557,0.516820,0.587484
75%,0.159816,0.831715,0.424262,0.727829,0.717752
max,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
df_scaled.to_csv("../raw_data/merged_country_level/scaled_merged_data_after_imputation.csv")

In [7]:
import pickle
with open('../models/scaling_pipeline.pkl', 'wb') as f:
    pickle.dump(pipeline, f)

### extra section: figure out how to scale and extra column

In [8]:
print(pipeline.named_steps.keys())  # This will show you the steps in your pipeline

dict_keys(['column_transformer'])

In [9]:
user_input_dict = {}
user_input_dict["max_monthly_budget"] = 1257.4
normalized_inputs = {}

In [10]:
# Get the column transformer
column_transformer = pipeline.named_steps['column_transformer']
max_monthly_budget = user_input_dict["max_monthly_budget"]
        
# Transform the max monthly budget directly (it will apply the appropriate MinMaxScaler)
budget_transformed = column_transformer.transform([[max_monthly_budget, 0, 0, 0, 0]])[0][0]
normalized_inputs["max_monthly_budget"] = budget_transformed
normalized_inputs

ValueError: Specifying the columns using strings is only supported for dataframes.

In [ ]:

cost_scale = cost_scaler.scale_[0]  # The scale (std dev) for the first column (monthly cost)
cost_mean = cost_scaler.mean_[0]    # The mean for the first column (monthly cost)


# Apply the same scaling to max_monthly_budget
normalized_max_monthly_budget = (user_input_dict["max_monthly_budget"] - cost_mean) / cost_scale
normalized_inputs["max_monthly_budget"] = normalized_max_monthly_budget

In [5]:
countries_list = df.index.tolist()
print(countries_list)

['afghanistan', 'albania', 'algeria', 'angola', 'argentina', 'armenia', 'australia', 'austria', 'azerbaijan', 'bahamas', 'bahrain', 'bangladesh', 'barbados', 'belarus', 'belgium', 'belize', 'bolivia', 'bosnia & herzegovina', 'botswana', 'brazil', 'brunei', 'bulgaria', 'cambodia', 'cameroon', 'canada', 'chile', 'china', 'colombia', 'congo', 'costa rica', 'croatia', 'cuba', 'cyprus', 'czech republic', 'denmark', 'dominican republic', 'ecuador', 'egypt', 'estonia', 'ethiopia', 'finland', 'france', 'georgia', 'germany', 'ghana', 'greece', 'guatemala', 'guyana', 'honduras', 'hungary', 'iceland', 'india', 'indonesia', 'iran', 'iraq', 'ireland', 'israel', 'italy', 'jamaica', 'japan', 'jordan', 'kazakhstan', 'kenya', 'kuwait', 'latvia', 'lebanon', 'libya', 'liechtenstein', 'lithuania', 'luxembourg', 'malaysia', 'maldives', 'malta', 'mauritius', 'mexico', 'mongolia', 'montenegro', 'morocco', 'mozambique', 'namibia', 'nepal', 'netherlands', 'new zealand', 'nicaragua', 'nigeria', 'norway', 'oman', 'pakistan', 'panama', 'paraguay', 'peru', 'philippines', 'poland', 'portugal', 'qatar', 'romania', 'rwanda', 'saudi arabia', 'serbia', 'singapore', 'slovakia', 'slovenia', 'somalia', 'south africa', 'south korea', 'spain', 'sri lanka', 'sweden', 'switzerland', 'syria', 'taiwan', 'tajikistan', 'tanzania', 'thailand', 'trinidad & tobago', 'tunisia', 'uganda', 'ukraine', 'united arab emirates', 'united kingdom', 'united states', 'uruguay', 'uzbekistan', 'venezuela', 'vietnam', 'zambia', 'zimbabwe', 'andorra', 'congo', 'dominica', 'el salvador', 'gabon', 'haiti', 'hong kong', 'ivory coast', 'kosovo', 'kyrgyzstan', 'laos', 'liechtenstein', 'lithuania', 'madagascar', 'mauritania', 'moldova', 'monaco', 'myanmar', 'north macedonia', 'papua new guinea', 'russia', 'senegal', 'sudan', 'suriname', 'taiwan', 'tajikistan', 'togo', 'turkey', 'turkmenistan', 'yemen']