We need to create a simple pipeline to use for standardization of the dataset (that will be used later for standardisation of user inputs)

In [2]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

In [10]:
df = pd.read_csv("../raw_data/merged_country_level/merged_data.csv").set_index("Unnamed: 0")
df.index.name = "country"

print(df.shape)
df.head()

(122, 5)

             average_monthly_cost_$  ...  Healthcare Index
country                              ...
afghanistan              960.545000  ...             24.24
albania                  518.916429  ...             48.21
algeria                  356.045500  ...             54.43
angola                   740.635000  ...             36.58
argentina                503.731250  ...             68.00

[5 rows x 5 columns]

In [11]:
df.describe()

       average_monthly_cost_$  ...  Healthcare Index
count              122.000000  ...        122.000000
mean               963.809623  ...         60.356230
std                579.883758  ...         11.906674
min                227.355000  ...         24.240000
25%                565.497549  ...         52.000000
50%                786.219205  ...         61.220000
75%               1247.808385  ...         68.767500
max               3434.575000  ...         82.780000

[8 rows x 5 columns]

In [14]:
pipe = Pipeline([
    ("scaler", MinMaxScaler())
])

df_scaled = pipe.fit_transform(df)
df_scaled = pd.DataFrame(df_scaled, columns=df.columns, index=df.index)

df_scaled.head()

             average_monthly_cost_$  ...  Healthcare Index
country                              ...
afghanistan                0.228606  ...          0.000000
albania                    0.090908  ...          0.409464
algeria                    0.040125  ...          0.515716
angola                     0.160039  ...          0.210796
argentina                  0.086173  ...          0.747523

[5 rows x 5 columns]

In [15]:
df_scaled.describe()

       average_monthly_cost_$  ...  Healthcare Index
count              122.000000  ...        122.000000
mean                 0.229624  ...          0.616950
std                  0.180806  ...          0.203394
min                  0.000000  ...          0.000000
25%                  0.105432  ...          0.474206
50%                  0.174252  ...          0.631705
75%                  0.318174  ...          0.760634
max                  1.000000  ...          1.000000

[8 rows x 5 columns]

In [16]:
df_scaled.to_csv("../raw_data/merged_country_level/scaled_merged_data.csv")