In [57]:
import pandas as pd

In [58]:
df = pd.read_csv("/mnt/c/Users/bruno/Desktop/archive/Quality_of_Life.csv")

In [59]:
# checking the dataframe

df.head()

,country,Purchasing Power Value,Purchasing Power Category,Safety Value,Safety Category,Health Care Value,Health Care Category,Climate Value,Climate Category,Cost of Living Value,Cost of Living Category,Property Price to Income Value,Property Price to Income Category,Traffic Commute Time Value,Traffic Commute Time Category,Pollution Value,Pollution Category,Quality of Life Value,Quality of Life Category
0,Afghanistan,32.15,'Very Low',25.33,'Low',24.24,'Low',0.00,NaN,21.08,'Very Low',7.8,'Low',56.17,'Very High',84.44,'Very High',0.0,NaN
1,Aland Islands,125.01,'Very High',71.81,'High',79.72,'High',0.00,NaN,53.44,'Low',5.33,'Low',19.05,'Very Low',18.05,'Very Low',0.0,NaN
2,Albania,42.82,'Low',55.52,'Moderate',48.21,'Moderate',86.43,'Very High',40.85,'Low',14.88,'High',36.74,'Moderate',77.25,'High',': 104.16','Low'
3,Alderney,0.00,NaN,83.79,'Very High',100.00,'Very High',0.00,NaN,0.00,NaN,0.0,NaN,5.00,'Very Low',1.72,'Very Low',0.0,NaN
4,Algeria,27.60,'Very Low',47.54,'Moderate',54.43,'Moderate',94.82,'Very High',25.31,'Very Low',21.7,'Very High',45.09,'High',63.87,'High',': 98.83','Very Low'

In [60]:
df['country'].nunique()

236

In [61]:
df['Health Care Value'].value_counts().sum()

np.int64(236)

In [62]:
df['Health Care Value'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 236 entries, 0 to 235
Series name: Health Care Value
Non-Null Count  Dtype
--------------  -----
236 non-null    float64
dtypes: float64(1)
memory usage: 2.0 KB

In [63]:
df['Health Care Value'].describe()

count    236.000000
mean      54.731568
std       20.607381
min        0.000000
25%       45.807500
50%       57.150000
75%       68.447500
max      100.000000
Name: Health Care Value, dtype: float64

In [64]:
# creating/updating the dataframe only with the countries and the health care index

df_healthcare = df[['country', 'Health Care Value']]

In [65]:
df_healthcare.head()

         country  Health Care Value
0    Afghanistan              24.24
1  Aland Islands              79.72
2        Albania              48.21
3       Alderney             100.00
4        Algeria              54.43

In [66]:
# renaming the columns

df_healthcare = df_healthcare.rename(columns={'country': 'Country', 'Health Care Value': 'Health Care Index'})

In [67]:
df_healthcare.head()

         Country  Health Care Index
0    Afghanistan              24.24
1  Aland Islands              79.72
2        Albania              48.21
3       Alderney             100.00
4        Algeria              54.43

In [70]:
# saving the clean dataset

df_healthcare.to_csv("healthcare_index.csv", index=False)